.ipynb_checkpoints/
__pycache__/

*.ipynb    
!example.ipynb
!screening_frequency_data_creation.ipynb
!screening_frequency_analysis.ipynb
!outbreak_visualization.ipynb
!construct_school_network.ipynb

*.svg
*.png
*.pdf
*.mp4